@font-face {
  font-family: 'Oswald-Regular';
  src: url('../../Assets/Fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header {
  background-color: #ffffff;
  height: 82px;
  width: 1280px;
  position: sticky;
}

.header .overlap {
  height: 82px;
  position: relative;
}

.header .image {
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.header .DSW-removebg-preview {
  height: 82px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 151px;
}

.header .seach-bar {
  height: 42px;
  left: 356px;
  position: absolute;
  top: 22px;
  width: 409px;
}

.header .overlap-group {
  background-color: #202e3c;
  border: 2px solid;
  border-color: #c39970;
  height: 42px;
  position: relative;
  width: 407px;
}

.header .essential {
  height: 23px;
  left: 7px;
  position: absolute;
  top: 8px;
  width: 23px;
}

.header .div {
  color: #8da9c4;
  display: flex;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  /* justify-content: center; */
  height: 22px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  white-space: nowrap;
  width: 130px;
}

.header .vector {
  height: 35px;
  left: 1219px;
  position: absolute;
  top: 27px;
  width: 33px;
  cursor: pointer;
}

.header .text-wrapper-2 {
  color: #202e3c;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 47px;
  left: 925px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
  cursor: pointer;
}

.header .text-wrapper-3 {
  color: #202e3c;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  cursor: pointer;
  height: 47px;
  left: 1085px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  width: 139px;
}

.header .text-wrapper-4 {
  color: #202e3c;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  cursor: pointer;
  height: 47px;
  left: 844px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
}

.header .shopdropdown {
  left: 1009px !important;
  position: absolute !important;
  top: 34px !important;
}
