@font-face {
    font-family: 'Oswald-Bold';
    src: url('../../../Assets/Fonts/Oswald-Bold.ttf');
}

.categoryHero{
    height: 85vh;
    background-image: url('../../../Assets/CategoryPage/CategoryHeroImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.categoryHero .title{
    margin-top: 30px;
    font-family: 'Oswald-Bold', Helvetica;
    font-size: 3.2rem;
    font-weight: 100;
    color: white;
    -webkit-text-stroke: 2px #c39970;
}